body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000033;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.container  {
  position: absolute;
  width: 100%;
  background-image: linear-gradient(110deg, black 50%,  darkorange 50%);
  height: 100%;
}

#chat-box {
  border: 1px solid red;
  margin: 100px 10px 10px 550px;
  padding: 5px 0 10px 10px;
  width: 22vw;
  height: 30vw;
}

#send-btn {
  float: right;
  margin-right: 5px;
}

.input {
  margin-top: 370px;
}